 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
 h1{
     background-color: black;
        color: darkgreen;

        text-align: center;
        padding: 20px;
        border: 5px solid darkgreen;

/*    text-align: center;
    background-color: blanchedalmond ;
    color: brown;
    font-family: "Dancing Script", cursive;*/
               
     }

     h2{
        text-align: left;
        background-color: #fd79a8;
        color: aliceblue;
     
     }

     .hero{
        text-align: center;
        background-color: rgb(223, 148, 221);
        color: azure;
     }

     .background{
        background-color: burlywood;
     
     }

     .text{
        text-align: center;
       
       
     }

     .textcolour{
        color: brown;
     }

     .even{
        background-color: #FDA7DF;
        font-family: cursive;
     }

     .odd{
       background-color: rgb(107, 107, 209);
       font-family: "Dancing Script", cursive;
     }

     #newtitle{
        background-color: rgb(29, 240, 170);
       color: rgb(40, 80, 67);

     }

     *{
        background-color: white;
     }

     .helloText{
        background-color: black;
        color: darkgreen;

        text-align: center;
        padding: 20px;
        border: 5px solid darkgreen;

     }