 h1{
    text-align: center;
    background-color: blanchedalmond ;
    color: brown;
               
     }

     h2{
        text-align: left;
        background-color: blueviolet;
        color: aliceblue;
     
     }

     .hero{
        text-align: center;
        background-color: rgb(223, 148, 221);
        color: azure;
     }

     .background{
        background-color: burlywood;
     
     }

     .text{
        text-align: center;
       
     }

     .textcolour{
        color: brown;
     }

     .even{
        background-color: burlywood;
     }

     .odd{
       background-color: rgb(107, 107, 209);
     }

     #newtitle{
        background-color: rgb(29, 240, 170);
       color: rgb(40, 80, 67);

     }

     *{
        background-color: black;
     }
